.center-fix {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.main-spinner {
  font-size: 3em;
  color: color(primary);
}

.page-intro {
  margin-top: 10vh;

  @media (max-width: 750px) {
    margin-top: 20px;
  }
}

.welcome-component {
  margin-top: 5vh;

  @media (max-width: 750px) {
    margin-top: 0px;
  }

  p {
    font-size: 1.3em;
    padding: 0px 15px;
  }

  h3 {
    padding: 0px 15px;
  }
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -$footer-height-desktop;

  @media (max-width: 750px) {
    margin-bottom: -$footer-height-mobile;
  }
}
.page-wrap:after {
  content: "";
  display: block;
}
.page-footer, .page-wrap:after {
  height: $footer-height-desktop;

  @media (max-width: 750px) {
    height: $footer-height-mobile;
  }
}
.page-footer {
  color: color(subtle);
  padding-top: 9px;

  @media (max-width: 750px) {
    padding-top: 0px;
  }

  a {
    text-decoration: none;

    color: color(secondary-accent);

    &:hover, &:active {
      color: darken(color(secondary-accent), 10%);
    }
  }
}

.btn-primary {
  background-color: color(secondary);
  border: 2px solid color(secondary);
  border-radius: 6px;

  &:hover, &:active {
    background-color: color(secondary-accent);
    border: 2px solid color(secondary-accent);
    color: color(primary);
  }

  &:focus, &:focus:active {
    background-color: color(secondary-accent);
  }
}

.btn-secondary {
  background: transparent;
  border: 2px solid color(primary);
  border-radius: 6px;

  &:hover, &:active {
    background-color: rgba(255, 255, 255, 0.3);
    color: color(primary);
  }
}

.hosting-button {
  width: 100%;
  max-width: 300px;
  font-size: 1.3em;
}

.join-button {
  width: 100%;
  max-width: 300px;
  font-size: 1.3em;
}

.song-button {
  width: 100%;
  font-size: 1.3em;
  text-align: left;
  white-space: normal;
  margin: 4px 0px;

  &:hover, &:active {
    background-color: rgba(255, 255, 255, 0.3);
    color: color(primary);
  }
}

.btn-search-join {
  color: color(primary);
  background-color: color(secondary);

  &:hover, &:active {
    background-color: color(secondary-accent);
    color: color(primary);
  }
}

.top-margin-20 {
  margin-top: 20px;
}

.top-margin-40 {
  margin-top: 40px;
}

.bottom-margin-20 {
  margin-bottom: 20px;
}

.song-name {
  font-weight: 600;
}

.song-artist {
  color: color(primary-accent);
}

.results {
  margin-bottom: 15px;
}

.pad-top {
  margin-top: 30px;
}

.refresh {
  width: 100%;
  max-width: 300px;
  font-size: 1.3em;

  &:focus {
    color: color(primary);
    border: 2px solid color(primary);
    border-color: color(primary) !important;
    border-radius: 6px;
    box-shadow: none !important;
  }

  &:focus:active {
    border-color: color(secondary) !important;
   	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px color(secondary) !important;
  }
}

.song-request {
  font-size: 1.2em;
  margin: 6px 0px;
}

.song-request-details {
  width: calc(100% - 120px);
}

.song-request-buttons {
  width: 115px;
}

.body-container {
  max-width: 735px;
}

body {
  background-image: url('/assets/images/bg-desktop.jpg');
  background-position: center;
}

@media (max-width: 750px) {
  body {
    background-image: url('/assets/images/bg-mobile.jpg');
  }
}

/* Recolor outlines */
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
 	border-color: color(secondary);
 	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px color(secondary);
 	outline: 0 none;
}
.form-control:focus {
	border-color: color(secondary);
 	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px color(secondary);
 	outline: 0 none;
}
.btn:focus, .btn:active, .btn:active:focus {
	border-color: color(secondary);
 	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px color(secondary);
 	outline: 0 none;
}
a:focus {
	border-color: color(secondary);
 	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px color(secondary);
 	outline: 0 none;
}