$font-stack: 'Raleway';

$colors: (
    primary: #fff,
    primary-accent: #ccc,
    secondary: #C069C2,
    secondary-accent: #904F92,
    subtle: #888
);

$footer-height-desktop: 50px;
$footer-height-mobile: 30px;
