@import url('https://fonts.googleapis.com/css?family=Raleway:300');

.body-container {
  max-width: 735px;
}

.page-intro {
  margin-top: 10vh;
  @media (max-width: 750px) {
      margin-top: 20px;
  }
}
