<div class="page-wrap">
  <div class="container body-container">
    <div class="row">
      <div class="col-xs-12 text-center page-intro">
          <object width="200" height="79" type="image/svg+xml" data="./assets/images/logo.svg"><img class="logo" src="./assets/images/logo.png"></object>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
<footer class="footer text-center">
  <div class="container">
    <a href="https://github.com/BenOverholts/songreq" target="_blank">
      Made <span aria-hidden=true>with <i class="fa fa-heart"></i> </span>
    </a>
  </div>
</footer>