.song {
    background-position: center center;
    background-size: cover;
    font-size: 1.2em;
    border-radius: 4px;
    margin-bottom: 5px;
}

.shader {
    background-color: rgba(200, 200, 200, 0.8);
    padding: 10px;
}
.request {
    display: inline-block;
}