<h3>Request a Song</h3>
<form>
    <div class="form-group">
        <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]="query" placeholder="Search for a song..."/>
            <span class="input-group-btn">
                <button type="submit" class="btn btn-success" (click)="search()">Search</button>
            </span>
        </div>
    </div>
</form>
<div class="confirmation text-center">
    <h4>{{confMessage}}</h4>
</div>
<div class="container">
    <div *ngFor="let song of results" class="row">
        <!-- TODO: style="background-image: url({{song.artUrl}});" -->
        <div class="song-select" (click)="addSuggestion(song)">
            <div class="shader">
                <div class="request">
                    <strong>{{song.name}}</strong>
                    {{song.artist}}
                </div>
            </div>
        </div>
    </div>
</div>
