<div class="welcome-component">
  <div class="row">
    <div class="col-sm-12">
      <h3>Welcome</h3>
      <p>Songreq lets you play the music people want to hear, while still keeping you in control of the turntables. If you're hosting a party, just log in to Spotify to let people start suggesting songs.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 text-center top-margin-20">
      <button class="btn btn-primary hosting-button" (click)="gotoLogin()">Hosting? Log In</button>
    </div>
    <div class="col-sm-6 text-center top-margin-20">
      <button class="btn btn-secondary join-button" (click)="gotoParty()">Join a Party</button>
    </div>
  </div>
</div>
